h1{
text-align: center;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.post h2 {
font-size: 24px;
margin-bottom: 10px;
}

.post p {
font-size: 16px;
line-height: 1.5;
}

.post button {
background-color: #4caf50;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 16px;
padding: 10px 20px;
transition: background-color 0.3s ease-in-out;
}
strong{
  color: rgb(196, 14, 135);
}

.post button:hover {
background-color: #3e8e41;
}
.post-detail{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.post-detail button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}


.pagination {
display: flex;
justify-content: center;
margin-top: 20px;
}

.pagination a {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 5px;
color: #333;
cursor: pointer;
font-size: 16px;
margin-right: 10px;
padding: 5px 10px;
text-decoration: none;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pagination a.active,
.pagination a:hover {
background-color: #4caf50;
border-color: #4caf50;
color: #fff;
}
 
